*{
	margin: 0;
	padding: 0;
}
body,html{
	height: 100%
}
body{
background-image: url("../img/back.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
filter: blur(0.5px);
}

.one{
	position: absolute;
	width: 400px;
	background: rgba(50,50,50,0.5);
	margin: 100px 50px;
	padding: 50px 0px;
	color: white;
	box-shadow: 3px 3px 3px 3px rgba(200,200,200,0.5);
	border-radius: 6px;
}

.input{
	margin-top:  20px ;
	margin-right: 20px;
	margin-left: 20px;
	width: 80%;
	border-bottom: 2px solid rgba(200,200,200,0.6);
}


.input input{
	width:90%;
	background: transparent;
	border:none;
	outline: none;
	color: white;
	font-size: 18pt;
}
::placeholder{
	color: #aaa;
}
span{
	margin-left: 20px;
}

.btn{
	margin: 20px ;
	width: 80%;
	display: block;
	outline: none;
	padding: 10px 0;
	border:1px solid white;
	cursor: pointer;
	background:transparent;
	color: white;
	font-size: 16pt;
	border-radius: 6px;
}

.btn:hover{
	background-color: green;
	border:2px solid #25a890;
}